.app{
    display: flex;
    flex-direction: column;
}
.login{
  position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(to bottom right,rgb(44, 201, 44),rgb(255, 255, 255),rgb(44, 201, 44)); */
  background-color: rgb(38 44 58);
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
    width: 100%;
}
body{
    width: 100%;
}
:root{
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    margin: 0 ;
    padding: 0;
    text-align: center;
  }
  
  
  button{
    height: 2em;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    background-color: white;
    border-radius: 10px;
    font-size: 1em;
    background-color:#b451e6c5;
    cursor: pointer;
  }
  h2{
    margin: 0px;
  }
  button:hover{
    background-color:#a147ce;
    
  }

 
  button:active{
    transform: scale(0.9);
    border: none;
  }

  /*Quita el decoration de los link*/
  a{
    text-decoration: none;
  }
  p{
    margin: 0px;
  }