/**CONTAINER*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    height: 300px;
    width: 200px;

    border-top-left-radius:40px;
    border-top-right-radius: 40px;

    border-bottom-left-radius:18px 25px ;
    border-bottom-right-radius: 18px 25px ;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
}
.card:hover{
    /* transition: transform 0.7s; */
    transform: scale(1.1);
    border: 2px solid rgb(255, 4, 4);
    box-shadow: 0 0 50px 15px rgba(209, 39, 39, 0.85);
    background-color: rgba(255, 4, 4, 0.753);
    z-index: 1000; 
}

.card img{
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    border: 1px solid black;
}

/**CONTENIDO*/
.perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.detail{
    position: relative;
}
.name{

    font-size: 12px;

    display: flex;
    justify-content: center;
    width: 145px;


}.containerName{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 2em;
    background-color: rgba(108, 108, 108, 0.598);
}

.status{
    font-size: 15px;
}.containerStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:25px;
}

.origin{
    margin: 2px; 
    font-size: 12px;
}.containerOrigin{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 38px;
    height: 30px;
    align-items: center;
    margin: 4px 0px 4px 0px;
    
}
.species , .gender{
    font-size: 13px;
    color: black;
}
    .containerGender{
    display: flex;
    width: 50px;

    justify-content: center;
}

    .containerSpecies{
    display: flex;
    width: 50px;
    justify-content: center
}





/*Configuracions para dead*/
.dead{
    filter: grayscale(100%);
}

/* Botones*/
.cros{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    color: white;
    top:200px;
    left: 20px;
    height: 2em;
    width: 2em;
    font-size: 0.75em;
    justify-content: center;

    background-color: #b451e6c5;

}
.crosButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    color: white;
    top:200px;
    left: 20px;
    height: 2em;
    width: 2em;
    font-size: 0.75em;
    justify-content: center;

    background-color: #b451e6c5;

}.crosButton:hover{
    transition: transform 0.7s;
    transform: scale(1.2)
}


.heart{
    font-size: 0.75em;
    height: 2em;
    width: 2em;
    position: absolute;
    top:200px;
    right: 20px;
    justify-content: center;


}.heart:hover{
    transition: transform 0.7s;
    transform: scale(1.2)
}
