.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
   margin-top: 64px;
   padding-top: 25px;
   margin-left: 15px;
   margin-right: 15px;
   position: relative;
  }

/* Agrega una clase para la animación */
.aparecerScale{
    /* opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease; */
    
    animation-name: aparecer-scale;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
    /* animation-fill-mode:forwards; */
    /* animation-play-state:paused */
  }


@keyframes aparecer-scale {
    0% {
        transform: scale(0.5);
      }
   
      100% {
        transform: scale(1);
      }
  }
  
 
  .aparecerRotate{
    /* opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease; */
    
    animation-name: aparecer-rotate;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
    /* animation-fill-mode:forwards; */
    /* animation-play-state:paused */
  }

  @keyframes aparecer-rotate {
    0% {
      transform: rotate(0deg); /* Rotación inicial: 0 grados */
    }
    100% {
      transform: rotate(360deg); /* Rotación final: 360 grados (una vuelta completa) */
    }
  }


  .alien{
    background-color: rgba(75, 255, 4, 0.753);
    border: 2px solid rgb(75, 255, 4);
    box-shadow: 0 0 50px 15px rgba(53, 209, 39, 0.75);

}
.human{
    background-color: rgba(255, 255, 255, 0.753);
    border: 2px solid rgb(246, 255, 242);
    box-shadow: 0 0 50px 15px rgba(230, 255, 227, 0.75);

}
.default{
    background-color: rgba(212, 86, 28, 0.753);
    border: 2px solid rgb(255, 4, 4);
    box-shadow: 0 0 50px 15px rgba(209, 39, 39, 0.75);

}
.cardsPack{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

/** FAVORITES **/
.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 50px;
}
.filter select{
  width: 100px;
  padding: 3px;
  border-radius: 15px;
  appearance: none;
  border: none;
  background-color: #a147ce;
  color: white;

}
option{
  color: white;
  background-color: #a147ce;
}

select::-webkit-dropdown-list {
  background-color: #ff0000;
}
select:active{
  border: none;
}

.flechaAll{
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 13px;
}.containerAll{
  position: relative;
}

.flechaAsc{
  font-size: 13px;
  top: 3px;
  right: 7px;
  position: absolute;
}.containerAsc{
  position: relative;
}

.myFavorites{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 7px 0px 7px;
 padding-top: 15px;
}
.containerFavorites{
  width: 100%;
  height: 100%;
}