.perfil{
    display: flex;
    align-items: center;

    justify-content: center;
}
.cros{
    position: absolute;
    top:170px;
    left: 5px;
    height: 2em;
    width: 2em;
    font-size: 0.75em;
    justify-content: center;
    box-shadow: 0 0 25px 3px rgba(255, 251, 27, 0.89);

}

.heart{
    font-size: 0.75em;
    height: 2em;
    width: 2em;
    position: absolute;
    top:170px;
    right: 5px;
    justify-content: center;
    box-shadow: 0 0 25px 3px rgba(255, 251, 27, 0.89);

}
.detail{
    position: relative;
}
.name{
    
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;

}
.info{
    gap: 10px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px;
    height: 300px;
    width: 200px;
    border-top-left-radius: 60px 40px;
    border-top-right-radius: 60px 40px;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
}
.card:hover{
    transition: transform 0.7s;
    transform: scale(1.1);
    border: 2px solid rgb(255, 4, 4);
    box-shadow: 0 0 50px 15px rgba(209, 39, 39, 0.85);
    background-color: rgba(255, 4, 4, 0.753);
    z-index: 1000; 
}

.card h2{
    font-size: 0.81em;
    color: black;
}
.card img{
    height: 100%;
    width: 100%;
}
.heart:hover{
    transition: transform 0.7s;
    transform: scale(1.2)
}
.cros:hover{
    transition: transform 0.7s;
    transform: scale(1.2)
}
.info{
    display: flex;
    justify-content: space-around;
}
.origin{
    display: flex;
    justify-content: center;
    margin: 2px;
}
.dead{
    filter: grayscale(100%);
}