.img{
    position: absolute;
    width: 450px;
    height: auto;
    top: 25px;
    animation: logoAnimacion 2s linear infinite;
}
@keyframes logoAnimacion {
    0%{
        filter: drop-shadow(0 0 15px rgba(9, 255, 0, 0));
    }
    50%{
        filter: drop-shadow(0 0 1px rgb(32, 248, 24));

    }
    100%{
        filter: drop-shadow(0 0 15px rgba(9, 255, 0, 0));

    }
    
}
