.logo{
    position: absolute;
    top: 0px;
    width: 475px;
    height: auto;
}
.imagenAleatoria{
    position: absolute;
    bottom: 75px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.login{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin: 100px;

    height: 300px;
    width: 300px;

}
.containerLogin{
    width: 100vh;
    height: 100%;

}