.nav{
    background-color:#8a3bb1;
    height: 4em;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 2000;
    inset: 0;
}
.navegacionButtons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.navegacionButtons button{
    height: 2em;
    display: flex;
    justify-content: center;
}
.navegacionButtons  .iconoButton{
    height: 2em;
    width: 2em;
    
}