.searchBar{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}
.input{
    border: none;
}
.searchBar button{
    height: 2em;
    width: 2em;
}
.containerButtons{
    display: flex;
    gap: 10px;

}
