.searchBar{
    width: 400px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 1px solid white;

}
.input{
    border: none;
}
.searchBar button{
    height: 2em;
    width: 2em;
}