.nav{
    background-color:#a147ce;
    height: 4em;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navegacionButtons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;


}
