:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100vh;

}
html{
  display: grid;
  background-image: url('https://i.pinimg.com/originals/3a/2c/76/3a2c7620d168f1faff4e861c4029e84f.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

}


